fastapi==0.110.3
psycopg2-binary==2.9.9
pydantic==2.8.2
# pydantic-extra-types==2.9.0
python-dotenv==1.0.1
SQLAlchemy==2.0.32
# SQLAlchemy-Utils==0.41.2
uvicorn==0.24.0.post1
gunicorn==23.0.0
langchain==0.3.14
langchain-core==0.3.29
langchain-pinecone==0.2.0
langchain-openai==0.2.14
langchain-community==0.3.14
langchain-text-splitters==0.3.4
pinecone-client==5.0.1
openai==1.59.3
pypdf==5.1.0
python-multipart==0.0.20
docx2txt==0.8
unstructured==0.16.12